{%- if section.settings.desktop_navigation_layout == 'condensed' -%}
  {%- assign is_condensed = true -%}
{%- else -%}
  {%- assign is_condensed = false -%}
{%- endif -%}

{%- assign downcase_title = mega_menu.title | downcase | strip -%}
{%- assign mega_menu_block = nil -%}

{%- for block in section.blocks -%}
  {%- assign downcase_block_menu_item = block.settings.menu_item | downcase | strip -%}

  {%- if downcase_block_menu_item == downcase_title -%}
    {%- assign mega_menu_block = block -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

<div id="dropdown-{{ index }}" class="mega_menu" data-type="menu" aria-hidden="true" {{ mega_menu_block.shopify_attributes }}>
  {%- capture mega_menu_inner -%}
    {%- assign should_center = false -%}

   
   {%  if mega_menu.links.size <= 4 and mega_menu_block.settings.image_1 == blank or mega_menu_block.settings.image_1 == blank  and  mega_menu.links.size == 6 %}
      {%- assign should_center = true -%}
     {%  endif %}
   

    {%- assign has_two_images = false -%}

    {%- if mega_menu_block.settings.image_1 != blank and mega_menu_block.settings.image_2 != blank -%}
      {%- assign has_two_images = true -%}
    {%- endif -%}  


 
    <div class="mega_menu__inner" >      
      {%- if mega_menu.links.size > 0 -%}
        {%- for link in mega_menu.links -%}
          {% assign current_image = "image_" | append: forloop.index %}         

          <div class="mega_menu__column">
            <a href="{{ link.url }}" class="mega_menu__title">

              {% if mega_menu_block.settings[current_image] != blank %}
                <picture class="mega_menu__pic">
                  <img class="mega_menu__img" 
                       src="{{ mega_menu_block.settings[current_image] | image_url }}"                    
                       loading="lazy"
                       width="auto"
                       height="auto" 
                       alt="{{ mega_menu_block.settings[current_image].alt | default: link.title }}"
                  >
                </picture> 
              {% else %}
                <div class="mega_menu__pic">
                  {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--cover' }}        
                </div> 
              {% endif %}             
        
              <div class="mega_menu__link_text">
                {{ link.title }}
              </div> 
            </a>
            
            {%- if link.links.size > 0 -%}
              <ul class="mega-menu__linklist">
                {%- for sub_link in link.links -%}
                  <li class="mega-menu__item">
                    <a href="{{ sub_link.url }}" class="mega-menu__link link"><span>{{ sub_link.title }}</span></a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
        {%- endfor -%}
      {%- endif -%}      
    </div>
  {%- endcapture -%}

  {%- if is_condensed -%}
    {{- mega_menu_inner -}}
  {%- else -%}
    <div class="page-width">
      {{- mega_menu_inner -}}
    </div>
  {%- endif -%}
</div>