<link rel="stylesheet" href="{{ 'opk-login-register.css' | asset_url }}" type="text/css">

{% assign header_image = settings.customer_header_image %}
{% assign header_heading = 'customer.login.title' | t %}
{% assign show_breadcrumbs = settings.show_customer_breadcrumbs %}
{% assign show_heading = settings.show_customer_heading %}

{% assign image_overlay_color = settings.customer_image_overlay_color %}
{% assign image_overlay_opacity = settings.customer_image_overlay_opacity %}

{% if header_image != blank %}
    {% render 'custom_page_header' image: header_image, heading: header_heading, show_breadcrumbs: show_breadcrumbs, show_heading: show_heading, image_overlay_color: image_overlay_color, image_overlay_opacity: image_overlay_opacity %}
{% endif %}

<style>
    .opk_account__title::before {        
        background: url('{{ 'title_bg_login.svg' | asset_url }}') repeat left/cover;        
    }    
</style>

<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" class="opk-login">
    <div class="page-width">
        <div class="grid">

            <div class="grid__item medium-up--one-half medium-up--push-one-quarter opk-login__container">

                <div class='customer-forms-wrapper opk-login__form'>
                    <div class="form-message form-message--success hide" id="ResetSuccess" tabindex="-1">
                        {{ 'customer.recover_password.success' | t }}
                    </div>

                    <div id="CustomerLoginForm" class="form-vertical">

                        {% if header_image == blank %}

                            <div class="opk-login__title-wrapper">
                                {% if show_heading %}
                                    <h1 id="LoginHeading" class="opk_account__title">{{ 'customer.login.title' | t }}</h1>
                                {% endif %}
                            </div>
                            {% if section.settings.text %}
                                <p class="opk-login__text">{{ section.settings.text }}</p>
                            {% endif %}
                            {% if show_breadcrumbs %}
                                <div class='account-breadcrumbs'>
                                    <ol class="breadcrumbs__list">
                                        <li class="breadcrumbs__item">
                                            <a class="breadcrumbs__link"
                                               href="{{ routes.root_url }}">{{ 'general.breadcrumbs.home' | t }}</a>
                                        </li>
                                        <li class="breadcrumbs__item">
                                            <span>{{ 'customer.login.account' | t }}</span>
                                        </li>
                                    </ol>
                                </div>
                            {% endif %}

                        {% endif %}

                        {% form 'customer_login', novalidate: 'novalidate' %}

                            {%- if form.errors -%}
                                <div class="form-message form-message--error">
                                    <h3 class="h3 form-message__title " tabindex="-1"
                                        data-form-status>{{ 'contact.form.error_heading' | t }}</h3>
                                    {{ form.errors | default_errors }}
                                </div>
                            {%- endif -%}

                            <label class="opk-login__label">
                                {{ 'customer.login.email' | t }}
                                <input
                                        type="email"
                                        name="customer[email]"
                                        id="CustomerEmail"
                                        autocomplete="email"
                                        autocorrect="off"
                                        autocapitalize="off"
                                        placeholder=""
                                        {%- if form.errors contains 'form' -%}
                                            class="input--error"
                                            aria-invalid="true"
                                        {%- endif -%}
                                >
                            </label>


                            {% if form.password_needed %}
                                <label class="opk-login__label">
                                    {{ 'customer.login.password' | t }}
                                    <input
                                            type="password"
                                            value=""
                                            name="customer[password]"
                                            id="CustomerPassword"
                                            placeholder=""
                                            {%- if form.errors contains 'form' -%}
                                                class="input--error"
                                                aria-invalid="true"
                                            {%- endif -%}
                                    >
                                </label>
                            {% endif %}
                            <button type="submit"
                                    class="btn  btn--primary btn--full btn--align-center opk-login__button">
                                <span>{{ 'customer.login.sign_in' | t }}</span>
                            </button>


                            <div class="text-center opk-login__texts">
                                {% if form.password_needed %}
                                    <div>
                                        {{ section.settings.register_text }}
                                        <a href="{{ routes.account_register_url }}">
                                            {{ section.settings.link_text }}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10"
                                                 viewBox="0 0 6 10" fill="none">
                                                <path d="M1 0.599609L5 4.59961L1 8.59961" stroke="#FF001F"
                                                      stroke-width="1.2" stroke-linecap="round"
                                                      stroke-linejoin="round"/>
                                            </svg>
                                        </a>
                                    </div>
                                    <p>
                                        <a href="#recover" id="RecoverPassword" class='link--primary'>
                                            {{ section.settings.recovery_text }}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10"
                                                 viewBox="0 0 6 10" fill="none">
                                                <path d="M1 0.599609L5 4.59961L1 8.59961" stroke="#FF001F"
                                                      stroke-width="1.2" stroke-linecap="round"
                                                      stroke-linejoin="round"/>
                                            </svg>
                                        </a>
                                    </p>
                                    {% comment %} <p><a href="#recover" id="RecoverPassword" class='link--primary'>{{ 'customer.login.forgot_password' | t }}</a></p> {% endcomment %}
                                    {% comment %} <p><span>{{ 'customer.account.new_customer' | t }}</span>  <a href="{{ routes.account_register_url}}" class='link--primary'>{{ 'layout.customer.create_account' | t }}</a></p> {% endcomment %}
                                {% endif %}
                            </div>

                        {% endform %}
                    </div>

                    <div id="RecoverPasswordForm" class="hide">

                        <div class="text-center">

                            {% if header_image == blank %}

                                {% if show_heading %}

                                    <h3 class="text-center opk-login__title opk-login__title head_title__text_bg head_title__word">{{ section.settings.reset_title }}</h3>
                                {% endif %}
                                {% if show_breadcrumbs %}
                                    <div class='account-breadcrumbs'>
                                        <ol class="breadcrumbs__list">
                                            <li class="breadcrumbs__item">
                                                <a class="breadcrumbs__link"
                                                   href="{{ routes.root_url }}">{{ 'general.breadcrumbs.home' | t }}</a>
                                            </li>
                                            <li class="breadcrumbs__item">
                                                <span>{{ 'customer.login.account' | t }}</span>
                                            </li>
                                        </ol>
                                    </div>
                                {% endif %}

                            {% endif %}

                            {% comment %} <h4 id="RecoverHeading">{{ 'customer.recover_password.title' | t }}</h4> {% endcomment %}
                            <p class='subtext opk-login__text' id="RecoverHeading">{{ section.settings.reset_text }}</p>
                        </div>

                        <div class="form-vertical">
                            {% form 'recover_customer_password' %}


                                {% if form.posted_successfully? %}
                                    <span class="hide reset-password-success"></span>
                                {% endif %}

                                <label class="opk-login__reset-label">
                                    {{ 'customer.recover_password.email' | t }}
                                    <input
                                            type="email"
                                            value=""
                                            name="email"
                                            id="RecoverEmail"
                                            placeholder=""
                                            class="input-full{% if form.errors %} input--error{% endif %}"
                                            autocorrect="off"
                                            autocapitalize="off"
                                            {% if form.errors %}
                                                aria-invalid="true"
                                                aria-describedby="RecoverEmail-email-error"
                                            {%- endif -%}
                                    >
                                </label>
                                {%- if form.errors -%}
                                    <span id="RecoverEmail-email-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% render 'icon-error' %}
                <span>{{ form.errors.messages['form'] }}</span>
              </span>
                                {%- endif -%}

                                <div class="text-center">
                                    <div class="reset-password-buttons opk-login__buttons">
                                        <button type="submit" class="btn btn--primary btn--full opk-login__button">
                                            <span>{{ 'customer.recover_password.submit' | t }}</span>
                                        </button>

                                        <a href="#LoginHeading" id="HideRecoverPasswordLink"
                                           class='opk-login__button opk-login__button--secondary'>
                                            <span>{{ 'customer.recover_password.cancel' | t }}</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10"
                                                 viewBox="0 0 6 10" fill="none">
                                                <path d="M1 0.599609L5 4.59961L1 8.59961" stroke="#FF001F"
                                                      stroke-width="1.2" stroke-linecap="round"
                                                      stroke-linejoin="round"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            {% endform %}
                        </div>

                    </div>

                    {% if shop.checkout.guest_login %}
                        <div class="text-center">
                            <hr class="hr--invisible">
                            <h3>{{ 'customer.login.guest_title' | t }}</h3>

                            {% form 'guest_login' %}
                                <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
                            {% endform %}
                        </div>
                    {% endif %}

                </div>

            </div>

        </div>
    </div>
</section>

<script type="module" src="{{ 'opk-login-register.js' | asset_url }}"></script>

{% schema %}
{
  "name": "t:sections.main-login.name",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "If you have an account with us, please log in."
    },
    {
      "type": "text",
      "id": "recovery_text",
      "label": "Forgot your password?"
    },
    {
      "type": "text",
      "id": "register_text",
      "label": "Login question",
      "default": "Don’t have an account?"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Login link text",
      "default": "Create an account"
    },
    {
      "type": "text",
      "id": "reset_title",
      "label": "Reset title",
      "default": "RESET PASSWORD"
    },
    {
      "type": "text",
      "id": "reset_text",
      "label": "Reset text",
      "default": "We will send you an email to reset your password"
    }
  ]
}
{% endschema %}