<link rel="stylesheet" href="{{ 'opk-main-account.css' | asset_url }}" type="text/css">
<link rel="stylesheet" href="{{ 'opk-account.css' | asset_url }}" type="text/css">

{% assign header_image = settings.customer_header_image %}
{% assign header_heading = 'customer.login.account' | t %}
{% assign show_breadcrumbs = settings.show_customer_breadcrumbs %}
{% assign show_heading = settings.show_customer_heading %}

{% assign image_overlay_color = settings.customer_image_overlay_color %}
{% assign image_overlay_opacity = settings.customer_image_overlay_opacity %}

{% if header_image != blank %}
    {% render 'custom_page_header' image: header_image, heading: header_heading, show_breadcrumbs: show_breadcrumbs, show_heading: show_heading, image_overlay_color: image_overlay_color, image_overlay_opacity: image_overlay_opacity %}
{% endif %}

<style>
    .opk_account__title::before {        
        background: url('{{ 'title_bg_login.svg' | asset_url }}') repeat left/cover;        
    }    
</style>

<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" class="opk-account">
    <div class="page-width-small  opk-account__page-limiter">
        <div class="myaccount opk-account__header-wrapper">
            {% if show_breadcrumbs %}
                <div class='account-breadcrumbs'>
                    <ol class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a class="breadcrumbs__link"
                               href="{{ routes.root_url }}">{{ 'general.breadcrumbs.home' | t }}</a>
                        </li>
                        <li class="breadcrumbs__item">
                            <span>{{ 'customer.login.account' | t }}</span>
                        </li>
                    </ol>
                </div>
            {% endif %}

            <div class="myaccount__account-details opk-account__header">
                <div class="section-header text-left">
                    {% if show_heading %}
                        <h1 id="LoginHeading"
                            class="opk_account__title">{{ 'customer.account.title' | t }}</h1>
                        <div class='link--primary return_with_icon_link address-new-toggle opk-account__navigation-item'>
                            {{ 'layout.customer.log_out' | t | customer_logout_link }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="opk-account__content-wrapper">
            <div class="myaccount__order-history opk-account__orders-history {% if customer.orders.size == 0 %}opk-account__orders-history--empty{% endif %}">
                {% paginate customer.orders by 20 %}
                    {% if customer.orders.size != 0 %}
                        <h4 class="opk-account__accent-title">Order History</h4>

                        <div class="opk-account__orders-list">
                            <div class="opk-account__order-guide">
                                <span class="opk-account__order-parameter-title opk-account__order-parameter-title--main">{{ section.settings.first_marker_title }}</span>
                                <span class="opk-account__order-parameter-title opk-account__order-parameter-title--main">{{ section.settings.second_marker_title }}</span>
                                <span class="opk-account__order-parameter-title opk-account__order-parameter-title--main">{{ section.settings.third_marker_title }}</span>
                                <span class="opk-account__order-parameter-title opk-account__order-parameter-title--main">{{ section.settings.fourth_marker_title }}</span>
                                <span class="opk-account__order-parameter-title opk-account__order-parameter-title--main">{{ section.settings.fifth_marker_title }}</span>
                            </div>

                            {% for order in customer.orders %}
                                <div class="opk-account__order-item">
                                    <div class="opk-account__order-parameter">
                                        <span class="opk-account__order-parameter-title">{{ section.settings.first_marker_title }}</span>
                                        <a href="{{ order.customer_url }}"
                                           aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                                           class="opk-account__order-parameter-value">#{{ order.order_number }}</a>
                                    </div>
                                    <div class="opk-account__order-parameter">
                                        <span class="opk-account__order-parameter-title">{{ section.settings.second_marker_title }}</span>
                                        <span data-label="{{ 'customer.orders.date' | t }}"
                                              class="opk-account__order-parameter-value">{{ order.created_at | time_tag: format: 'abbreviated_date' }}</span>
                                    </div>
                                    <div class="opk-account__order-parameter">
                                        <span class="opk-account__order-parameter-title">{{ section.settings.third_marker_title }}</span>
                                        <span data-label="{{ 'customer.orders.payment_status' | t }}"
                                              class="opk-account__order-parameter-value">{{ order.financial_status_label }}</span>
                                    </div>
                                    <div class="opk-account__order-parameter">
                                        <span class="opk-account__order-parameter-title">{{ section.settings.fourth_marker_title }}</span>
                                        <span data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                                              class="opk-account__order-parameter-value">{{ order.fulfillment_status_label }}</span>
                                    </div>
                                    <div class="opk-account__order-parameter">
                                        <span class="opk-account__order-parameter-title">{{ section.settings.fifth_marker_title }}</span>
                                        <span data-label="{{ 'customer.orders.total' | t }}"
                                              class="opk-account__order-parameter-value">
                                            {% if settings.currency_code_enable %}
                                                {{ order.total_price | money_with_currency }}
                                            {% else %}
                                                {{ order.total_price | money }}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    {% else %}
                        <p class="opk-account__empty-title">{{ 'customer.orders.none' | t }}</p>

                    {% endif %}

                    {%- if paginate.pages > 1 -%}
                        {% render 'pagination', paginate: paginate %}
                    {%- endif -%}
                {% endpaginate %}
            </div>

            <div class="opk-account__sidebar">
                <div class="opk-account__sidebar-item">
                    <h4 class="opk-account__accent-title opk-account__accent-title--line">{{ section.settings.sidebar_title }}</h4>

                    <h5 class="opk-account__text">{{ customer.default_address.name }}</h5>

                    {% if customer.default_address.street != blank or customer.default_address.city != blank or customer.default_address.zip != blank %}
                        <p class="opk-account__text">
                            {% if customer.default_address.street != blank %}{{ customer.default_address.street }},{% endif %}
                            {% if customer.default_address.city != blank %}{{ customer.default_address.city }},{% endif %}
                            {% if customer.default_address.zip != blank %}{{ customer.default_address.zip }}{% endif %}
                        </p>
                    {% endif %}

                    {% if customer.default_address.country != blank %}
                        <h5 class="opk-account__text">
                            {{ customer.default_address.country }}{% if customer.default_address.zip != blank %}{% endif %}
                        </h5>
                    {% endif %}


                    <a href="{{ routes.account_addresses_url }}"
                       class=" address-delete btn btn--primary btn--full btn--align-center link--primary
                    opk-account__button opk-addresses__button--secondary"
                       data-target="{{ address.url }}"
                       data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                    >
                        <span> {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="module" src="{{ 'opk-account.js' | asset_url }}"></script>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "text",
      "id": "sidebar_title",
      "label": "Sidebar title",
      "default": "Account Details"
    },
    {
      "type": "text",
      "id": "first_marker_title",
      "label": "First marker title",
      "default": "Bestelling"
    },
    {
      "type": "text",
      "id": "second_marker_title",
      "label": "Second marker title",
      "default": "Datum"
    },
    {
      "type": "text",
      "id": "third_marker_title",
      "label": "Third marker title",
      "default": "Betaling"
    },
    {
      "type": "text",
      "id": "fourth_marker_title",
      "label": "Fourth marker title",
      "default": "Status"
    },
    {
      "type": "text",
      "id": "fifth_marker_title",
      "label": "Fifth marker title",
      "default": "Totaal"
    }
  ]
}
{% endschema %}
