<link rel="stylesheet" href="{{ 'opk-gallery.css' | asset_url }}">

{% assign sectionVar = section.settings %}

<style>  
    #shopify-section-{{ section.id }} .opk__subtitle {
      color: {{ section.settings.subtitle_color }};
    }

    #shopify-section-{{ section.id }} .opk__subtitle::before {
        background-color: {{ section.settings.subtitle_color }};
    }

    #shopify-section-{{ section.id }} .opk_gallery__head {
        text-align: {{ section.settings.text_align }};
    }       

    @media screen and (min-width: 750px) { 
        #shopify-section-{{ section.id }}.opk_gallery {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    } 
    
    @media screen and (max-width: 749px) {
        #shopify-section-{{ section.id }}.opk_gallery {
            padding-top: {{ section.settings.padding_top_mobile }}px;
            padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
        }       
    }  
</style>

<div class="opk_gallery__container {% if section.settings.container %} page-width {% endif %}">
    {% if sectionVar.subtitle != blank or sectionVar.title != blank%}
        <div class="opk_gallery__head">
            {% if sectionVar.subtitle != blank  %}
                <div class="opk__subtitle_wrap">
                    <span class='opk__subtitle'>{{ sectionVar.subtitle }}</span>
                </div>  
            {% endif %} 

            {% if sectionVar.title != blank %}
                <div class="opk_gallery__title">
                    {% render 'opk-head-title', bg_mod: true, title: sectionVar.title | escape %}
                </div>     
            {% endif %}            
        </div>        
        {% endif %}

    <div class="opk_gallery__grid">

            {% for galery_item in page.metafields.custom.gallery.value %}
                <div class="opk_gallery__item js-gallery-item" data-gallary="gallary-{{ forloop.index0 }}">
                    {% if galery_item.media != blank %}
                        <a href="{{ galery_item.media | image_url }}" class="opk_gallery__item_pic">                            
                            <img width="auto" height="auto" src="{{ galery_item.media | image_url }}" alt="{{ galery_item.title | replace: '<br>', ''}}" class="opk_gallery__item_img">                                                    
                        </a>
                    {% else %}
                        <div class="opk_gallery__item_pic">
                            {% capture num %}{% cycle "1", "2", "3", "4"  %}{% endcapture %}
                            {{ 'collection-' | append: num | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>                              
                    {% endif %}

                    {% for item in galery_item.gallery_list.value %}
                        <a href="{{ item | image_url }}" class="opk_gallery__item_pic opk_gallery__item_pic--sub">                            
                            <img width="auto" height="auto" src="{{ item | image_url }}" alt="{{ galery_item.title | replace: '<br>', ''}}" class="opk_gallery__item_img">                                                    
                        </a>
                    {% endfor %}
                    
                    
                    <style>
                            #shopify-section-{{ section.id }} .opk_gallery__item:nth-child({{ forloop.index }}) .opk_gallery__item_title {
                                text-align: {{ galery_item.text_align }};
                                color: {{ galery_item.text_color }};
                            }                                
                        </style>
                    <div class="opk_gallery__item_title_wrap">                            
                        <h3 class="opk_gallery__item_title">{{ galery_item.title | replace: '<br>', '<br>'}}</h3>   
                    </div>
                </div>
        {% endfor %}                
    </div>      
</div>


<script src="{{ 'opk-gallery.js' | asset_url }}" type="module" defer></script>

{% schema %}
    {
       "name":"Gallery",
       "class":"opk_gallery js-gallery",
       "tag": "section",
       "settings":[
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Padding top", 
                "default": 0       
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Padding bottom",
                "default": 0            
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "px",
                "label": "Padding top mobile",
                "default": 0               
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "px",
                "label": "Padding bottom mobile",
                "default": 0                         
            },
            {
                "type":"checkbox",
                "id":"container",
                "label":"With container",
                "default": false            
            },    
            { 
                "type": "text",
                "id": "subtitle",
                "label": "t:sections.mosaic.settings.subtitle.label",
                "default":"Subtitle"
            },
            {
                "type": "color",
                "id": "subtitle_color",
                "label": "Color for subtitle",
                "default": "#FB5F1B"
            },     
            {
                "type":"text",
                "id":"title",
                "label":"t:sections.mosaic.settings.title.label",
                "default":"Gallery"
            },
            {
                "type":"select",
                "id":"text_align",
                "label":"Text align",
                "default":"left",
                "options":[
                    {
                    "label":"Left",
                    "value":"left"
                    },
                    {
                    "label":"Center",
                    "value":"center"
                    },
                    {
                    "label":"Right",
                    "value":"right"
                    }                
                ]
            }
                          
       ],       
       "presets":[
          {
             "name":"Gallery"             
          }
       ]
    }
{% endschema %}
    