<link rel="stylesheet" href="{{ 'opk-featured-products.css' | asset_url }}">

{% assign show_vendor = section.settings.show_vendor %} 
{%- assign max_height = 530 -%}
{% assign grid_item_mobile_width = 'small--one-whole' %}

{% if section.settings.slider_enable %}
  {% assign sliderClass = 'swiper opk_featured_products__slider js-featured-products-slider' %}  
  {% assign wrapClass = 'swiper-wrapper' %}  
{% else %}
  {% assign sliderClass = '' %}
  {% assign wrapClass = 'opk_featured_products__grid_wrap' %}   
{% endif %}


<style>       
    @media screen and (min-width: 750px) { 
        #shopify-section-{{ section.id }}.opk_featured_products {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    } 
    
    @media screen and (max-width: 749px) {
        #shopify-section-{{ section.id }}.opk_featured_products {
            padding-top: {{ section.settings.padding_top_mobile }}px;
            padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
        }       
    } 
    
    #shopify-section-{{ section.id }} .opk__subtitle {
      color: {{ section.settings.subtitle_color }};
   }
    #shopify-section-{{ section.id }} .opk__subtitle::before {
        background-color: {{ section.settings.subtitle_color }};
    }
</style>

<div class="opk_featured_products__container page-width">
  <div class="opk_featured_products__head">
    {% if section.settings.subtitle != blank  %}
      <div class="opk__subtitle_wrap">
        <span class='opk__subtitle'>{{ section.settings.subtitle }}</span>
      </div>  
    {% endif %}           
  
    <div class="opk_featured_products__head_title">
      {% if section.settings.title != blank %}     
        <div class="opk_featured_products__head_wrap">
          {% render 'opk-head-title', bg_mod: true, title: section.settings.title | escape %}  
        </div>        
      {% endif %}
  
      {% if section.settings.slider_enable %}
        {% if section.settings.show_arrows %}
          <div class='slider_custom_arrows opk_featured_products__controls'>
            <a href="javascript:void(0)" class='button-prev btn btn--circle-arrow js-featured-products-slider-prev' aria-label="Previous" aria-describedby="button previous">
              {% render 'icon' with 'tail-left' %}
            </a>
            <a href="javascript:void(0)" class='button-next btn btn--circle-arrow js-featured-products-slider-next' aria-label="Next" aria-describedby="button next">
              {% render 'icon' with 'tail-right' %}
            </a>
          </div>
        {% endif %}    
      {% endif %}
          
    </div>     
  </div>

  <div class="{{ sliderClass }}">
        <div class="{{ wrapClass }}">
            {% for product in section.settings.product_list %}
                <div class="swiper-slide opk_featured_products__slider_item use_align_height">                                        
                    {% render 'product-card-item', grid_item_width: 300, grid_item_mobile_width: 300, list: false, max_height: max_height, product: product, show_vendor: show_vendor %}       
                </div>
            {% else %}

            {% for i in (1..4) %}
              <div class="zoom-fade-animation-element-wrapper grid__item  product-item-block   view-mode-grid {{ grid_item_width }} {{ grid_item_mobile_width}} " >
                <div class="product-card product-card-grid-wrapper grid-view-item ">    
                  <div class="product-card__image-with-placeholder-wrapper" data-image-loading-animation>
                    <a class="grid-view-item__link-image product-card__link-image" href="#" aria-label="{{ 'homepage.onboarding.product_title' | t }}">
                      <div  class="grid-view-item__image-wrapper product-card__image-wrapper">
                      {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
                    {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg zoom-fade-animation-element' }}
                      </div>
                    </a>
                  </div>
      
              
                  <a class="grid-view-item__link-title product-card__link-title" href="#" aria-label="{{ 'homepage.onboarding.product_title' | t }}">
                    <span class="h4 grid-view-item__title product-card__title" > 
                    {{ 'homepage.onboarding.product_title' | t }}
                    </span>
                  </a>
                
                  <div class='product-item__price_and_reviews_row'>
                {% render 'product-price'  %}
        
                  </div>
                
                </div>
                <div class="product-card product-card--list-wrapper list-view-item">
                  <div class='product-card--list'>
  
                    <div class='product-list--media'>    
                      <div class="product-card__image-with-placeholder-wrapper" data-image-loading-animation>
                        <a class="list-view-item__link-image product-card__link-image" href="#" aria-label="{{ 'homepage.onboarding.product_title' | t }}">
                          <div  class="list-view-item__image-wrapper product-card__image-wrapper">
                            {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
                            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg zoom-fade-animation-element' }}
                          </div>
                        </a>
                      </div>
  
                    </div>
                    <div class='product-list--info'>
                    
                      <a class="list-view-item__link-title product-card__link-title" href="#" aria-label="{{ 'homepage.onboarding.product_title' | t }}">
                        <span class="h4 list-view-item__title product-card__title"> {{ 'homepage.onboarding.product_title' | t }}</span>
                      </a>
                      <div class='product-item__price_and_reviews_row'>
                        {% render 'product-price' %}
                      </div>                           
                    </div>
                  </div>
                </div>
              </div>  
              {% endfor %}
            {% endfor %}
        </div>
    </div>  
</div>  

<script src="{{ 'opk-featured-products.js' | asset_url }}" type="module" defer ></script>

{% schema %}
  {
    "name": "Featured products new",
    "tag": "section",
    "class":"opk_featured_products",    
    "settings": [
      {
          "type": "range",
          "id": "padding_top",
          "min": 20,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Padding top", 
          "default": 90       
      },
      {
          "type": "range",
          "id": "padding_bottom",
          "min": 20,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Padding bottom",
          "default": 90              
      },
      {
          "type": "range",
          "id": "padding_top_mobile",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "Padding top mobile", 
          "default": 40       
      },
      {
          "type": "range",
          "id": "padding_bottom_mobile",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "Padding bottom mobile",
          "default": 40              
      },               
      {
        "type":"text",
        "id":"title",
        "label":"t:sections.featured-products.settings.title.label",
        "default": "Heading"
      },	
      {
        "type":"text",
        "id":"subtitle",
        "label":"t:sections.featured-products.settings.subtitle.label",
        "default": "Subheading"
      },
      {
        "type": "color",
        "id": "subtitle_color",
        "label": "Color for subtitle",
        "default": "#FB5F1B"
      },
      {
        "type": "checkbox",
        "id": "slider_enable",
        "label": "Slider enable",
        "default": true
      },  
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "t:sections.featured-products.settings.show_vendor.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_pre_order",
        "label": "Show add to cart buttons",
        "default": true
      },
      {
        "type": "product_list",
        "id": "product_list",
        "label": "Product item"          
      },       
      {
        "type":"header",
        "content":"t:sections.featured-products.settings.carousel_options_header.label"
      }, 	        
      {
        "type":"checkbox",
        "id":"show_arrows",
        "label":"t:sections.featured-products.settings.show_arrows.label",
        "default":true
      }     	    
    ],
	
	"presets": [
    {
      "name": "Featured products new"	
    }
	]
  }
{% endschema %}
