{{ "opk-reviews.css" |  asset_url |  stylesheet_tag }}

<style>       

    @media screen and (min-width: 750px) { 
        #shopify-section-{{ section.id }}.reviews {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    } 
    
    @media screen and (max-width: 749px) {
        #shopify-section-{{ section.id }}.reviews {
            padding-top: {{ section.settings.padding_top_mobile }}px;
            padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
        }       
    } 
    
    #shopify-section-{{ section.id }} .opk__subtitle {
      color: {{ section.settings.subtitle_color }};
    }
    #shopify-section-{{ section.id }} .opk__subtitle::before {
        background-color: {{ section.settings.subtitle_color }};
    }
    
</style>

<div class="reviews__container page-width">

    {% if section.settings.subtitle != blank  %}
        <div class="opk__subtitle_wrap">
            <span class='opk__subtitle'>{{ section.settings.subtitle }}</span>
        </div>  
    {% endif %} 

    <div class="reviews__head">        
        {% if section.settings.title_id != blank %}
            <div class="reviews__title">
                {% render 'opk-head-title', bg_mod: true, title: section.settings.title_id | escape %}
            </div>     
        {% endif %}

        <div class='slider_custom_arrows opk_featured_products__controls'>
            <button type="button" class='button-prev btn btn--circle-arrow js-reviews-controls-prev reviews__slider_controls' aria-label="Previous" aria-describedby="button previous">
                <span>
                    {% render 'icon' with 'tail-left' %}
                </span>
            </button>
            <button type="button" class='button-next btn btn--circle-arrow js-reviews-controls-next reviews__slider_controls' aria-label="Next" aria-describedby="button next">
                <span>
                    {% render 'icon' with 'tail-right' %}
                </span>
            </button>
        </div>
    </div>    
    
    {% if section.blocks.size > 0 %}
        <div class="swiper reviews__slider js-reviews-slider">
            <div class="swiper-wrapper reviews__slider_wrap">
                {% for block in section.blocks %}
                    {% assign  blockItem = block.settings %}

                    <div class="swiper-slide reviews__item">                                        
                        <div class="reviews_item">                            
                            <div class="reviews_item__pic_wrap">
                                {% if blockItem.block_img %}
                                    <picture class="reviews_item__pic">
                                        <img width="auto" height="auto" loading="lazy" src="{{ blockItem.block_img |  image_url }}" alt="{{ blockItem.review_author_id }}" class="reviews_item__img">
                                    </picture>
                                {% else %}
                                    <div class="reviews_item__pic">
                                        {{ 'collection-3' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--cover' }}
                                    </div>
                                {% endif %}        
                                <div class="reviews_item__quotes">
                                    {% render 'icons', filename: 'quotes' %}
                                </div>
                            </div>   
                            <div class="reviews_item__content">
                                <h3 class="reviews_item__content_title">{{ blockItem.block_title }}</h3>
                                <div class="reviews_item__content_text">{{ blockItem.block_text }}</div>                               
                            </div>

                            <div class="reviews_item__author_text">{{ blockItem.block_author }}</div>
                                        
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="reviews__slider_pagination js-reviews-slider-pagination"></div>
        
        </div>    
    {% endif %}    
</div>

<script src="{{ 'opk-reviews.js' | asset_url }}" type="module" defer></script>

{% schema %}
    {
        "name": "Reviews",
        "tag": "section",
        "class": "reviews",
        "settings": [
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Padding top", 
                "default": 90       
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Padding bottom",
                "default": 90              
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "px",
                "label": "Padding top mobile", 
                "default": 40       
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "px",
                "label": "Padding bottom mobile",
                "default": 40              
            },               
            {
                "type": "text",
                "id": "title_id",
                "label": "Title",
                "default": "Our happy customers"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitle",
                "default": "Subtitle"
            },
            {
                "type": "color",
                "id": "subtitle_color",
                "label": "Color for subtitle",
                "default": "#FB5F1B"
            }           

        ],
        "blocks": [
            {
            "type": "item",
            "name": "Reviews item",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "block_img",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "block_title",
                    "label": "Title",
                    "default": "Title"
                },  
                {
                    "type": "text",
                    "id": "block_text",
                    "label": "Text",
                    "default": "Text"
                },              
                {
                    "type": "text",
                    "id": "block_author",
                    "label": "Author",
                    "default": "Author"
                }              
            ]
            }
        ],


        "presets": [
            {
                "name": "Reviews",
                "settings": {

                }
            }
        ]
    }
{% endschema %}