<link rel="stylesheet" href="{{ 'opk-shop-the-look.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'opk-product-item.css' | asset_url }}">

{% assign sectionVar = section.settings %}

<style>       

    @media screen and (min-width: 750px) { 
        #shopify-section-{{ section.id }}.shop_the_look {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    } 
    
    @media screen and (max-width: 749px) {
        #shopify-section-{{ section.id }}.shop_the_look {
            padding-top: {{ section.settings.padding_top_mobile }}px;
            padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
        }       
    } 
    
    #shopify-section-{{ section.id }} .opk__subtitle {
      color: {{ section.settings.subtitle_color }};
    }
    #shopify-section-{{ section.id }} .opk__subtitle::before {
        background-color: {{ section.settings.subtitle_color }};
    }
    
</style>

<div class="shop_the_look__container">
    <div class="shop_the_look__wrap">
        <div class="shop_the_look__picture_warp js-shop-the-look-wrap">
            <picture class="shop_the_look__pic">
                {% if sectionVar.img != blank %}
                    <img width="auto" height="auto" src="{{ sectionVar.img |  image_url }}" alt="{{ sectionVar.title }}" class="shop_the_look__img">
                {% else %}
                    {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--cover' }}
                {% endif %}
            </picture>
            
            {% for block in section.blocks %}
                {% assign index = forloop.index %}
                {% for product in block.settings.product_list %}                    
                    <style>
                        .shop_the_look__product_dots--{{ index }} {
                            top: {{block.settings.direction_y}}%;
                            left: {{block.settings.direction_x}}%;
                        }
                    </style>
                    <a data-dots-index="{{ index }}" href="{{ product.url }}" class="shop_the_look__product_dots shop_the_look__product_dots--{{ index }}"></a>                                          
                {% endfor %}
            {% endfor %} 

        </div>
        <div class="shop_the_look__content">
            {% if section.settings.subtitle != blank  %}
                <div class="opk__subtitle_wrap">
                    <span class='opk__subtitle'>{{ section.settings.subtitle }}</span>
                </div>  
            {% endif %}
            {% if section.settings.title != blank %}
                <div class="shop_the_look__title">
                    {% render 'opk-head-title', bg_mod: true, title: section.settings.title | escape %}               
                </div>     
            {% endif %}

            <div class="shop_the_look__products_wrap use_align_height">
                {% for block in section.blocks %}
                    {% assign index = forloop.index %}
                    {% for product in block.settings.product_list %}  
                        <div class="shop_the_look__products_item" data-item-index="{{ index }}">
                            {% render 'product-card-item', cartMod: true, grid_item_width: 300, grid_item_mobile_width: 300, list: false, max_height: 500, product: product, show_vendor: false %}     
                        </div>                           
                    {% endfor %}
                {% endfor %}                
            </div>

        </div>
    </div>
</div>

<script src="{{ 'opk-shop-the-look.js' | asset_url }}" type="module" defer></script>

{% schema %}
    {
        "name": "Shop the look (costum)",
        "tag": "section",
        "class": "shop_the_look js-shop-the-look",
        "settings": [
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Padding top", 
                "default": 90       
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Padding bottom",
                "default": 90              
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "px",
                "label": "Padding top mobile", 
                "default": 40       
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "px",
                "label": "Padding bottom mobile",
                "default": 40              
            },               
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Our happy customers"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitle",
                "default": "Subtitle"
            },
            {
                "type": "color",
                "id": "subtitle_color",
                "label": "Color for subtitle",
                "default": "#FB5F1B"
            },
            {
                "type": "image_picker",
                "id": "img",
                "label": "Image"
            },            
            {
                "type": "checkbox",
                "id": "show_pre_order",
                "label": "Show add to cart buttons",
                "default": true
            }
        ],
        "blocks": [
            {
                "type": "item",
                "name": "Product item",
                "limit": 4,
                "settings": [
                    {
                        "type": "product_list",
                        "id": "product_list",
                        "limit": 1,
                        "label": "Product item"          
                    },
                    {
                        "type": "range",
                        "id": "direction_x",
                        "min": 0,
                        "max": 100,
                        "step": 1,
                        "unit": "%",
                        "label": "Direction X", 
                        "default": 50       
                    },
                    {
                        "type": "range",
                        "id": "direction_y",
                        "min": 0,
                        "max": 100,
                        "step": 1,
                        "unit": "%",
                        "label": "Direction Y",
                        "default": 50              
                    },
                    {
                        "type": "checkbox",
                        "id": "show_quick_view",
                        "label": "Show quick view",
                        "default": false
                    }                    
                ]
            }
        ],       


        "presets": [
            {
                "name": "Shop the look (costum)",
                "settings": {

                }
            }
        ]
    }
{% endschema %}